@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes to-metaverse {
    exit 2% {
        background: var(--body-color);
    }

    exit 5% {
        background: #2f251a;
    }

    exit 8% {
        background: #2f251a;
    }

    exit 12% {
        background: #1a2317;
    }

    exit 15% {
        background: #181818;
    }

    exit 17% {
        background: #181818;
    }

    exit 27% {
        background: #181818;
    }

    exit 29% {
        background: #2d68ff;
    }

    exit 35% {
        background: #181818;
    }

    exit 42% {
        background: #181818;
    }

    exit 45% {
        background: #222d40;
    }

    exit 47% {
        background: #222d40;
    }

    exit 49% {
        background: #181818;
    }

    exit 52% {
        background: #181818;
    }

    exit 57% {
        background: #27202d;
    }

    exit 59% {
        background: #27202d;
    }

    exit 61% {
        background: #181818;
    }

    exit 76% {
        background: #181818;
    }

    exit 79% {
        background: #28475b;
    }

    exit 83% {
        background: #413c2f;
    }

    exit 87% {
        background: #413c2f;
    }

    exit 89% {
        background: #3e3045;
    }
    
    exit 93% {
        background: #181818;
    }

    exit 96% {
        background: #324530;
    }
}

@keyframes show {
    entry 0% {
        opacity: 0;
        transform: translateY(50%);
    }

    cover 20%, cover 70% {
        opacity: 1;
        transform: translateY(0);
    }

    exit 100% {
        opacity: 0;
        transform: translateY(-50%);
    }
}

@keyframes show-up {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes show-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateY(-200%);
    }
}

@keyframes intro {
    20% {
        transform: translateY(-10%);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    45% {
        opacity: 0;
    }
}

@keyframes project-ulla-intro-color {
    20% {
        opacity: 0;
    }

    30% {
        opacity: 1;
        background: #2d68ff;
    }

    90% {
        opacity: 1;
        background: #2d68ff;
    }
    
    100% {
        opacity: 0;
    }
}

@keyframes showing {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
    }
}